node_modules/

# TODO https://stackoverflow.com/questions/73483816/minimal-monaco-editor-without-language-support
docs/css.worker.js
docs/html.worker.js
docs/json.worker.js
docs/ts.worker.js
docs/abap.js
docs/apex.js
docs/azcli.js
docs/bat.js
docs/bicep.js
docs/cameligo.js
docs/clojure.js
docs/coffee.js
docs/cpp.js
docs/csharp.js
docs/csp.js
docs/css.js
docs/cssMode.js
docs/cypher.js
docs/dart.js
docs/dockerfile.js
docs/ecl.js
docs/editor.worker.js
docs/elixir.js
docs/flow9.js
docs/freemarker2.js
docs/fsharp.js
docs/go.js
docs/graphql.js
docs/handlebars.js
docs/hcl.js
docs/html.js
docs/htmlMode.js
docs/ini.js
docs/java.js
docs/javascript.js
docs/jsonMode.js
docs/julia.js
docs/kotlin.js
docs/less.js
docs/lexon.js
docs/liquid.js
docs/lua.js
docs/m3.js
docs/markdown.js
docs/mips.js
docs/msdax.js
docs/mysql.js
docs/objective-c.js
docs/pascaligo.js
docs/pascal.js
docs/perl.js
docs/pgsql.js
docs/php.js
docs/pla.js
docs/postiats.js
docs/powerquery.js
docs/powershell.js
docs/protobuf.js
docs/pug.js
docs/python.js
docs/qsharp.js
docs/razor.js
docs/redis.js
docs/redshift.js
docs/restructuredtext.js
docs/r.js
docs/ruby.js
docs/rust.js
docs/sb.js
docs/scala.js
docs/scheme.js
docs/scss.js
docs/shell.js
docs/solidity.js
docs/sophia.js
docs/sparql.js
docs/sql.js
docs/st.js
docs/swift.js
docs/systemverilog.js
docs/tcl.js
docs/tsMode.js
docs/twig.js
docs/typescript.js
docs/vb.js
docs/xml.js
docs/yaml.js
